<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<appSettings>
			<add key="OutputDirectory" value="" />
			<add key="LogPasswords" value="False" />
			<add key="systemFromMail" value="" />
			<add key="SMTPserver" value="" />
			<add key="SMTPuser" value="" />
			<add key="SMTPpassword" value="" />
			<add key="SMTPssl" value="True" />
			<add key="SMTPport" value="587" />
			<add key="emailAddresses" value="" />
			<add key="MaxLogFiles" value="0" />
			<add key="AsymPriKey" value="10d_pri" />
			<add key="AsymPubKey" value="10d_pub" />
       
      <!--
		<add key="FtpPath" value="ftp://ftpServer/ftpDirectory/"/>
        <add key="FtpUserName" value="ftpUserDomain\ftpUsername"/>
        <add key="FtpPassword" value="ftpUserPassword"/>
		-->
		
	</appSettings>
  <!--
	<system.net>
		<mailSettings>
			<smtp from="someone@somedomain.com">
				<network defaultCredentials="false" userName="domain\username" password="password" host="host.somedomain.com" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
  -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
